node_modules/*
node_modules
node_modules/*
src_old_copy
src_copy
dist/compt-full.js
dist/compt-utility.js
Gruntfile.js
compts-labs/*
notes
src_copy
src_copy/*
.DS_Store
dist/.DS_Store
src/.DS_Store
example/.DS_Store
test/.DS_Store